<nav class="navigation">
  <%= button_to "Log In", '/auth/google', class: 'fancy-button' %>
  <%= button_to "Get Started", '/auth/google', class: 'fancy-button' %>
  <button class="new-blog">New Blog Post</button>
</nav>
